body{
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.inp{ 
    width: 100%;
    background:rgb(193, 201, 203);
    padding: 5px;
}
.con1{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;    

}

.con2{
    backdrop-filter: blur(20px);
    padding: 30px;
    height: 400px;
    width: 240px;
    border: 2px solid black;
    border-radius: 20px;
}

.btn{
    background: rgb(244, 246, 247);
    color: black;
    font-weight: 600;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1rem;
}
span{
    font-weight: 600;  
    font-size: 1rem;
}
.con3{
    font-weight: bold;
    color: rgb(90, 126, 255);
}
.con5{
    color: white;
}