body{
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;}
    .input{ 
        width: 100%;
        background:rgb(193, 201, 203);
        padding: 10px;
    }
        .con{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;    
            
            }
            .con2{
                backdrop-filter: blur(8px);
                padding: 30px;
                height: 350px;
                width: 240px;
                border: 2px solid black;
                border-radius: 20px;
            }
            .con3{
                background: rgb(244, 246, 247);
                color: black;
                font-weight: 600;
                padding: 10px;
                border: 2px solid black;
                border-radius: 10px;
                font-size: 1rem;

                position: absolute;
                width: 90px;
                height: 40px;
                top: 250px;
            }
            .con4{
                
                position: absolute;
                width: 1533px;
                height: 52px;
                top: 350px;
                position: absolute;
                font-style: normal;
                font-weight: 200;


                color: #FFFFFF;
   
            }
            a{
                color: rgb(58, 70, 239);
            }
        h2{
            color: white;
        }
        .con5{
            position: absolute;
            height: 52px;
            top: 190px;
            position: absolute;
            font-style: normal;
            font-weight: 200; 
        }
      